# Dependencies & package managers
node_modules/
dist/

# PlatformIO & embedded builds
.pio/
*/.pio/
*.o
*.elf
*.bin.gz

# Cloudflare & local caches
.wrangler/

# OS and Editor files
.DS_Store
Thumbs.db
*.log
.vscode/
